body {
    margin: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scrollbar-width: thin;
    scrollbar-color: #888888 #dddddd;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: #dddddd;
}

body::-webkit-scrollbar-thumb {
    background-color: #888888;
}

#pokedex {
    font-size: 1.2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abilitys {
    margin-bottom: 2rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navImg {
    width: 500px;
    margin-bottom: 2rem;
}

#searchPokemon {
    width: 300px;
    height: 40px;
    border: 2px solid rgb(50, 84, 202);
    border-radius: 5px;
    font-size: 26px;
    padding-left: 1rem;
}

.pokedexContainer img {
    height: 200px;
    object-fit: contain;
    background-color: gold;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.pokedex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#pokemonContainer img {
    width: 80%;
    height: 150px;
    object-fit: contain;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pokemonCard {
    width: 230px;
    height: 330px;
    margin: 1rem;
    border-radius: 10px;
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 11px 11px 27px 12px rgba(0, 0, 0, 0.35);
    border: 1px solid rgb(72, 61, 61);
}

.pokemonCard:hover {
    scale: 1.05;
}

.pokemonCard h3 {
    margin-top: -5px;
}

h3 {
    margin-top: .5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}

.currentPokemonContainer {
    border-radius: 10px;
    z-index: 5;
    width: 400px;
    font-size: 1.2rem;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.currentPokemonContainer img {
    margin-top: 2rem;
    max-width: 90%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
}



.clickedPokemonCard img {
    width: 400px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

.clickedPokemonCard h2, h3 {
    margin: 6px;
}

.clickedPokemonCard {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.3rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.clickedPokemonCard:hover {
    scale: 1.03;
}

#searchedPokemon {
    visibility: hidden;
    z-index: -9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

#clickedPokemon {
    z-index: -4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}




#scrollToTopButton {
    position: fixed;
    width: 80px;
    height: 80px;
    top: 30px;
    right: 20px;
    z-index: 99;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 45px 14px rgba(0, 0, 0, 0.54);
    border: none;
    font-weight: bold;
    display: none;
}





@media screen and (max-width:900px) {

    .clickedPokemonCard {
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .navImg {
        width: 80%;
        height: 180px;
        object-fit: contain;
    }

    .pokemonCard {
        width: 90%;
        height: 400px;
        font-size: 1.2rem;
    }

    #pokemonContainer img {
        height: 200px;
    }

    .pokemonCard h3 :nth-child(2) {
        margin-bottom: 2rem;
    }

    .currentPokemonContainer {
        max-width: 90%;
    }
}

@media screen and (max-width:500px) {
    .clickedPokemonCard img {
        max-width: 90%;
    }
}